body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
li{
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 100%;
}
li button {
  align-self: center;
}
@media (max-width:500px){
  li{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.input-area{
  padding-left:40px;
}
.todo-info{
  display: flex;
}
.todo-info input[type=checkbox]{
  align-self: center;
}
.editable{
  border: 1px solid blue;
}

